:root {
  --primary-color: #0077cc;
  --secondary-color: #005fa3;
  --extra-color: #10b93a;
  --background-color: #ffffff;
  --background-secondary-color: #fbfffa;
  --background-strong-color: #fafafabd;
  --text-primary-color: #000000;
  --text-secondary-color: #6b7280;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #cbcbcb;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, Poppins-Black, Poppins-Bold, Poppins-ExtraBold, Poppins-Regular, Poppins-Medium, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 100%;
  }
  
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, Poppins, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    word-wrap: break-word;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  h2 {
    font-size: 1.8em;
    margin: 0;
  }
  
  h3 {
    word-wrap: break-word;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }
  
  h4 {
    word-wrap: break-word;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h5 {
    word-wrap: break-word;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h6 {
    word-wrap: break-word;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  p {
    word-wrap: break-word;
    font-size: 1em;
    font-weight: 400;
  }
  
  li {
    list-style: none;
  }
  
  a {
    outline: none;
    text-decoration: none;
  }

  span {
    word-wrap: break-word;
  }
  
  input[type="checkbox"] {
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
  }